p {
  font-size: 20px;
color: indigo;}

body {
  font-family: Roboto, sans-serif;
  background-image: url(bg4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.container {
  padding: 0 40px;
  margin-left: 80px;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 0.3em;
  position: relative;
  color: mediumblue;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:#228B22;
}


h1 {
  font-size: 1.8em;
  color: darkblue;
}

h2 {
  font-size: 1.5em;
  margin: 0.7em 0;
  color: navy;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 250px;
  /* Радиус скругления */
  border: 3px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 5px solid #FFD700;
}

li {
  display:inline-block;
  padding: 3px; /* Поля вокруг кнопок */
}

.contacts {
  margin-bottom: 20px;
}

button {
  background-color: #6A5ACD;
  color: #E6E6FA;
}
